body {
    display: grid;

    margin: 0;
    padding: 0;

    grid-template-rows: .5f 1fr 3fr;
    grid-template-columns: 1 fr 1fr 1fr;

    min-height: 100vh;
}

nav {
    background-color: lightgrey;
}

main {
    background-color: lightskyblue;
}

footer {
    background-color: rgb(137, 224, 237);
}

nav, main, footer {
    text-align: center;
}
nav, footer {
    grid-column: span 3;
}